@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../imagens/photo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 500px;
}

header h1 {
    font-size: 3em;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.514);
    margin: 10px;
}

main p {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    width: 70px;
    outline: none;
}

button {
    margin-top: 5px;
    padding: 5px;
}

section#res {
    padding: 5px;
    text-align: center;
    line-height: 25px;
    display: flex;
    font-family: cursive;
}

footer {
    margin-top: 15px;
}